<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  {% load static %}
  <link href="{% static 'src/styles.css' %}" rel="stylesheet" />
</head>

<body>

  <!-- Include navbar component if available -->
  {% include '../components/_navbar.html' %}

  <!-- Main container for blog posts -->
  <div class="flex flex-wrap space-x-8">

    {% for blog in blogs %}
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <!-- Debugging: Print the image URL and display image if available -->
      {% if blog.image %}
      <a href="/blog/{{ blog.id }}"><img class="w-full" src="{{ blog.image.url }}" alt="Image of {{ blog.title }}"></a>
        
      {% else %}
        <p>image nai xaina</p>
      {% endif %}
      
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{{ blog.title }}</div>
        <p class="text-gray-700 text-base">{{ blog.subtitle }}</p>
      </div>
    </div>
    {% endfor %}

  </div>

</body>
</html>
